<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lista de productos</title>
</head>
<body>
<div class="div-container">
    <p> Bienvenido, <strong>{{user.first_name}} {{user.last_name}}</strong></p>
    <p>{{user.email}}</p>
    <p> rol: <strong>{{user.role}}</strong></p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>
<h1>Lista de productos</h1>
{{#if products.msg.docs.length}}
    <ul>
        {{#each products.msg.docs}}
            <li>
                <p>{{ this.title }}</p>
                <p>Precio: {{ this.price }}</p>
                <p>Categoría: {{ this.category }}</p>

                <a href="/products/{{ this._id }}">Ver Detalles</a>

                <form action="/api/carts" method="post">
                    <input type="hidden" name="product" value="{{ this._id }}">
                    <input type="hidden" name="quantity" value=1>
                    <input type="submit" value="Agregar al Carrito">
                </form>
            </li>
        {{/each}}
    </ul>

    <!-- Pagination -->
    {{#if products.msg.hasPrevPage}}
        <a href="{{ products.msg.prevLink }}">Anterior</a>
    {{/if}}

    {{#if products.msg.hasNextPage}}
        <a href="{{ products.msg.nextLink }}">Siguiente</a>
    {{/if}}
{{else}}
    <p>No hay productos disponibles.</p>
{{/if}}
</body>
</html>
